{% extends '::base.html.twig' %}
{% block body %}
    <div id="address" class="clearfix">
        {% block body_address %}{% endblock %}
    </div>
    <div id="map" class="clearfix">
        {% block body_map %}{% endblock %}
    </div>
    <div id="details" class="clearfix">
        {% block body_details %}{% endblock %}
    </div>
{% endblock %}